/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  display: block;
}
a {
  text-decoration: none;
}
/* 모든 inner의 공통사항 작성 */
.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative; 
}
/* list의 점 삭제 */
li {
  list-style: none;
}
/* 우선순위 점수10점(클래스가 1개라서) */
.btn{
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: .4s;
}
.btn:hover{
  background-color: #333;
  color: #fff;
}
/* btn의 상태를 나타냄 , 클래스 선택자가 2개라서 우선순위 점수 20점*/
.btn.btn--reverse {
  background-color: #333;
  color: #fff;
}
/* 우선순위 점수 30점(클래서 선택자가 3개라서) */
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--brown {
  color: #592B18;
  border-color: #592B18;
}
.btn.btn--brown:hover {
  color: #fff;
  background-color: #592B18;
}
.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover {
  color: #fff;
  background-color: #D9AA8A;
}
.btn.btn--white {
  color: #fff;
  border-color: #fff;
}
.btn.btn-white:hover {
  color: #333;
  background-color: #fff;
}

.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);  
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: 0.3s;
}
.show .back-to-position.delay-2 {
  transition-delay: 0.6s;
}
.show .back-to-position.delay-3 {
  transition-delay: 0.9s;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  /* position: relative; */
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  /* 브라우저에 뷰포트를 기준으로 배치 */
  top: 0;
  z-index: 9;
}
/* header의 바로 아래자식만 설정 */
header > .inner {
  /* width: 1100px; */
  height: 120px;
  /* margin: 0 auto; */
  /* position: relative; */
}
header .logo {
  height: 75px;
  /* 구조적 부모요소에 position이 있는지 확인해야함 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  /* 돋보기와 input요소를 4개 메뉴 옆에 위치하도록 하기 위해 */
  display: flex;
}
header .sub-menu ul.menu {
  font-family: Arial, sans-serif;
  display: flex;

}

header .sub-menu ul.menu li {
position: relative;
}
/* 가상 요소 선택자란 의미 */
header .sub-menu ul.menu li::before {
  content: "";
  /* display: block; */
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  /* absolute나 fixed는 디스플레이가 block으로 변환시켜줌 */
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* sign in앞에 있는 선 없애줌 */
header .sub-menu ul.menu li:first-child::before {
  display: none;
}
header .sub-menu ul.menu li a {
  font-size: 13px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
}
header .sub-menu .search {
  height: 34px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  /* 클릭하면 border가 파랑색 처리되는 것을 없애줌 */
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width .4s;
}
header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: .4s;
}
header .sub-menu .search.focused .material-icons {
   /* material-icons가 focused되면 투명하게 */
  opacity: 0;
}
header .main-menu {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}
header .main-menu .item .item__name{
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
/* item__name에 마우스를 올리면 item__contents부분에도 영향이 가기 때문에 item부분에 hover 추가 */
header .main-menu .item:hover .item__name{
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}
/* top이나 bottom 속성을 사용하지 않아 수직 위치 값이 없다면,
요소의 원래 위치를 그대로 사용
만약 position: absolute:를 사용했다면, 부모요소를 기준으로 하므로
화면의 뷰포트 좌우 끝까지 늘어날 수 없게 됩니다. */
header .main-menu .item .item__contents{
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
/* item에 마우스를 올리면 item__contents가 block이 되면서 display됨 */
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu {
  background-color: #2c2a29;
  /* contents값을 넣었기 때문에 height삭제 */
  /* height: 200px; */
}
header .main-menu .item .item__contents .contents__menu > ul {
  padding: 20px 0;
  display: flex;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  /* 마우스를 올리면 커서에서 손가락모양으로 변환 */
  cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 900;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}

/* 오른쪽 광고창 */
header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  /* x축이동, y축이동, blur값, 색추가(투명도) */
  box-shadow: 4px 4px 10px rgba(0,0,0,.15);
  cursor: pointer;
}

.visual {
  /* header의 inner 높이값 */
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
}
.visual .inner {
  height: 646px;
}
.visual .inner .tittle {
  position: absolute;
  top: 88px;
  left: -10px;
}
/* tittle안에 btn이 있어 tittle이 이동하게 되면 버튼도 같이 이동(같이 묶어두는 것이 편하다) */
.visual .tittle .btn {
  position: absolute;
  top: 259px;
  left: 173px;
}
.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -17px;
}
.visual .cup1.text {
  position: absolute;
  bottom: 38px;
  right: 171px;
}
.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text {
  position: absolute;
  top: 321px;
  right: 416px;
}
.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}
.visual .fade-in {
  opacity: 0;
}

/* NOTICE */

.notice .notice-line {
  position: relative;
}
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5f0;
}
.notice .notice-line .inner {
  height: 62px;
  z-index:1;
  display: flex;
}
.notice .notice-line .inner .inner__left {
  width: 60%;
  height: 100%;
  background-color: #333;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner .inner__left h2{
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .notice-line .inner .inner__left .swiper {
  height: 62px;
  /* 제목과 아이콘 사이에 공백이 최대한 줄어들어 안보여 늘어남 처리 */
  flex-grow: 1;
}
.notice .notice-line .inner .inner__left .swiper .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .notice-line .inner .inner__left .swiper .swiper-slide a {
  color: #fff;
}
.notice .notice-line .inner .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  /* 수평가운데 처리 */
  justify-content: center;
  /* 수직가운데 처리 */
  align-items: center;

}
.notice .notice-line .inner__left .notice-line__more .material-icons {
  /* body부분을 상속받아서 색깔이 적용x */
  color: #fff;
  font-size: 30px;
}
.notice .notice-line .inner__right {
  width: 40%;
  height: 100%;
  display: flex;
  /* 오른쪽 끝에 위치하도록 */
  justify-content: flex-end;
  align-items: center;
}
.notice .notice-line .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
}
.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .notice-line .inner__right .toggle-promotion .material-icons {
  font-size: 30px;
}

.notice .promotion {
  height: 693px;
  background-color: #f6f5f0;
  position: relative;
  transition: height .4s;
  overflow: hidden;
}
/* 일치선택자를 통해서 promotion이라는 요소에 hide라는  클래스가 붙어있는 경우를 의미하므로 띄어쓰기x */
.notice .promotion.hide {
  height: 0;
}
.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  /* 왼쪽의 50%로 이동 */
  left: 50%;
  /* 가로너비의 절반만큼 이동 */
  margin-left: calc((819px * 3 + 20px) / -2);
}
.notice .promotion .swiper-slide {
  opacity: .5;
  transition: opacity 1s;
  position: relative;
}
.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* 맨 위쪽 버튼요소 정의한 부분에 가로값을 넣었기 때문에 따로 넣을 필요가 없음 */
  margin: auto;
}
.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("../images/promotion_slide_pager.png");
  width: 13px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  /* 가장 마지막 동그라미는 오른쪽 margin이 필요x */
  margin-right: 0;
}
.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_slide_pager_on.png");
}
.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}
.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -480px;
}
.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -480px;
}
.notice .promotion .swiper-prev:hover,
.notice .promotion .swiper-next:hover {
  background-color: #333;
  color: #fff;
}

/* REWARDS */
.rewards {
  position: relative;
}
.rewards .bg-left {
  /* 너비는 rewards의 50%, 높이는 rewards의 100% */
  width: 50%;
  height: 100%;
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
}
.rewards .bg-right {
  width: 50%;
  height: 100%;
  background-color: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}
.rewards .inner {
  background-image: url("../images/rewards.jpg");
  height: 241px;
}
.rewards .btn-group {
  /* 구조상 부모의 inner는 공통부분에서 position값 지정 */
  position: absolute;
  bottom: 24px;
  right: 0;
  width: 250px;
  display: flex;
  /* 가로사이즈 250보다 내용이 넘치면 줄바꿈 허용 */
  flex-wrap: wrap;
}
.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}
.rewards .btn-group .btn.sign-in {
  width: 110px;
}
.rewards .btn-group .btn.gift {
  margin-top: 10px;
  /* display container의 내부에서 최대한의 너비를 쓸 수 있도록 늘어나라 */
  flex: 1;
}

/* YOUTUBE VEDEO */
.youtube {
  position: relative;
  height: 700px;
  background-color: #333;
  /* 영상의 정가운데를 제외하고 모두 제거 */
  overflow: hidden;
}
.youtube .youtube__area {
  width: 1920px;
  background-color: orange;
  position: absolute;
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  /* 높이 값을 알 수 없기 때문에 가로길이와 비율(16:9)를 통해 계산 */
  margin-top: calc( 1920px * 9 / 16 / -2);
}
.youtube .youtube__area::before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  /* youtube__area의 화면비율을 16:9로 정의 */
  padding-top: 56.27%;
}
.youtube .youtube__cover {
  background-image: url("../images/video_cover_pattern.png");
  background-color: rgba(0,0,0,.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.youtube .inner {
  height: 700px;
}
.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: 0;
}
.youtube .floating2 {
  position: absolute;
  top: 350px;
  left: 150px;
}
/* .youtube .floating3 {
  position: absolute;
  bottom: -200px;
  right: 0;
} */

/* SEASON PRODUCT */
.season-product{
  background-image: url("../images/season_product_bg.jpg");
}
.season-product .inner {
  height: 400px;
}
.season-product .floating3 {
  position: absolute;
  top: -200px;
  right: 0;
}
.season-product .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}
.season-product .text-group .title {
  margin-bottom: 10px;
}
.season-product .text-group .description {
  margin-bottom: 15px;
}


/* RESEVE-COFFEE */
.reserve-coffee {
  background-image: url("../images/reserve_bg.jpg"); 
}
.reserve-coffee .inner {
  height: 400px;
}
.reserve-coffee .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}
.reserve-coffee .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}
.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0;
}

/* PICK-YOUR-FAVOIRT */
.pick-your-favorite {
  background-image: url("../images/favorite_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* 화면이 스크롤 되더라도 이미지는 고정 */
  background-attachment: fixed;
  /* 배경의 이미지를 요소의 더 넓은 요소에 맞춰 출력 */
  background-size: cover;
}
.pick-your-favorite .inner{
  padding: 110px 0;
}
.pick-your-favorite .text-group {
  margin-left: 100px;
  width: 362px;
  display: flex;
  flex-wrap: wrap;
  /* 우측정렬 */
  justify-content: flex-end;
}
.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}
.pick-your-favorite .text-group .description{
  margin-bottom: 40px;
}

/* RESERVE-STORE */
.reserve-store {
  background-image: url("../images/reserve_store_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.reserve-store .inner {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-stroe .medal {
  width: 334px;
  height: 334px;
  perspective: 600px;
}
.reserve-store .medal .front,
.reserve-store .medal .back {
  width: 334px;
  height: 334px;
  position: absolute;
  backface-visibility: hidden;
  transition: 1s;
}
.reserve-store .medal .front {
  transform: rotateY(0deg);
} 
.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
} 
.reserve-store .medal .back {
  transform: rotateY(-180deg);
}
.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
} 
.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}

/* FIND  STORE */
.find-store {
  background-image: url("../images/find_store_bg.jpg");

}
.find-store .inner {
  height: 400px;
}
.find-store .texture1 {
  position: absolute;
  top:0;
  left: 400px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture {
  border-radius: 50%;
  /* x축으로 2px, y축으로 2px blur가 8px*/
  box-shadow: 2px 2px 8px rgba(0,0,0,.5);
  position: absolute;
}
.find-store .picture1 {
  /* position: absolute; */
  top: -60px;
  left: 0;
}
.find-store .picture2 {
  /* position: absolute; */
  top: 150px;
  left: 250px;
}
.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}
.find-store .text-group .title{
  margin-bottom: 20px;
}
.find-store .text-group .description{
  margin-bottom: 20px;
}

/* AWARDS */
.awards {
  background-color: #272727;
}
.awards .inner {
  padding: 40px 0;
}
.awards .swiper {
  width: 100%;
  height: 40px;
}
.awards .swiper-prev, 
.awards .swiper-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  color: #fff;
  opacity: .3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  /* 수직가운데 배치를 하는것이기 때문에 세로너비 확인 */
  margin: auto;
}
.awards .swiper-prev {
  left: -100px;
}
.awards .swiper-next {
  right: -100px;
}
.awards .swiper-prev:hover, 
.awards .swiper-next:hover {
  background-color: #fff;
  color: #333;
}

/* FOOTER */
footer {
  background-color: #272727;
  border-top: 1px solid #333;
}
footer .inner {
  padding: 40px 0 60px 0;
}
footer .menu {
  display: flex;
  justify-content: center;
}
footer .menu li {
  position: relative;
}
footer .menu li::before {
  /* 인라인 요소이기 때문에 가로세로의 값을 가질 수 X -> position: absolute나 fixed를 사용할 경우 display: block처리*/
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1px;
  margin: auto;

}
footer .menu li:last-child::before {
  display: none;
}
footer .menu li a{
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  /* 인라인 요소는 margin과 padding이라는 속성에 위아래값을 정상적으로 사용할 수 X */
  padding: 15px;
  display: block;
}
footer .menu li a.green {
  color: #669900;
}
footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn {
  font-size: 12px;
  margin-right: 10px;
}
footer .btn-group .btn:last-child {
  margin-right: 0;
}
footer .info {
  margin-top: 20px;
  text-align: center;
}
footer .info span {
  margin-right: 20px;
  color: #999;
  font-size: 12px;
}
footer .info span:last-child {
  margin-right: 0;
}
footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .logo {
  /* 가운데 정렬을 하려면 가로너비가 있어야함-> logo클래스는 이미지 요소이기 때문에 가로너비 지정하지 않아도 됨*/
  margin: 30px auto 0;
}

#to-top {
  width: 42px;
  height: 42px;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
}